# Gradle
.gradle/
build/

# Java / JVM
*.class
hs_err_pid*
replay_pid*
*.hprof

# IntelliJ IDEA / JetBrains
.idea/
.run/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Playwright Java (videos/traces already under build/)
ms-playwright/

# Reports
allure-results/

# Eclipse / VS Code
.project
.classpath
.settings/
bin/
.vscode/

# Editors
*.swp
*.swo
